.hero {
  height: 300px;

  border-radius: 20px;

  background:
    linear-gradient(
      rgba(0,0,0,.35),
      rgba(0,0,0,.35)
    ),
    url("https://i.pinimg.com/1200x/20/a4/14/20a414b2a43620e2040129281866d5c6.jpg");

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;

  color: white;

  padding: 3rem;

  margin-bottom: 2rem;
}

.hero h1 {
  font-family: 'Playfair Display', serif;

  font-size: 3.5rem;

  font-weight: 700;

  line-height: 1.1;
}

.hero p {
  font-family: 'Inter', sans-serif;

  font-size: 1.2rem;
}